name: DevSecOps Pipeline

on:
  push:
    branches: [ "main" ]

permissions:
  contents: read
  issues: write 
  checks: write

jobs:
  build-and-secure:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    - name: Install Dependencies
      run: |
        pip install bandit
        pip install -r requirements.txt

    - name: Run Bandit Security Scan
      run: bandit -r .

    - name: Build Docker Image
      run: docker build -t my-secure-app:${{ github.sha }} .

    - name: Run Trivy Vulnerability Scanner
      uses: aquasecurity/trivy-action@master
      with:
        image-ref: 'my-secure-app:${{ github.sha }}'
        format: 'table'
        exit-code: '1'
        ignore-unfixed: true
        vuln-type: 'os,library'
        severity: 'CRITICAL,HIGH'

# 7. App එක Run කිරීම (Host Network)
    - name: Run Docker Container
      run: |
        docker run -d --network host --name test-app my-secure-app:${{ github.sha }}
        sleep 10 

    # --- අලුත් කොටස (Debug) ---
    - name: Check App Status
      run: |
        echo "--- Container Status ---"
        docker ps -a  # Container එක මැරිලද බලන්න
        echo "--- Container Logs ---"
        docker logs test-app  # ඇතුලේ වුනේ මොකක්ද බලන්න

    # 8. ZAP Scan (Host Network)
    - name: Run ZAP Security Scan
      run: |
        chmod -R 777 .
        docker pull zaproxy/zap-stable
        docker run --network host -v $(pwd):/zap/wrk:rw -t zaproxy/zap-stable zap-baseline.py -t http://localhost:5000 -I || true
